@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
  }


#task-buttons button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    margin: 0.5rem;
    background-color: #eaeaea;
  }


  h2{
    font-size: 24px;
  }

  #energy-bar {
    margin-top: 0.5rem;
    transition: width 0.3s ease;
  }


  @media (max-width: 600px) { 


    #task-buttons button {
        padding: 1rem 1.5rem;
        font-size: 12px;
      
      }
    


}